@font-face {
    font-family: Regular; /* Replace 'YourCustomFont' with a name for your font */
    src: url('./font/Roboto/Roboto-Regular.ttf') 
}

@font-face {
    font-family: Roboto-Bold; /* Replace 'YourCustomFont' with a name for your font */
    src: url('./font/Roboto/Roboto-Bold.ttf') 
}

@font-face {
    font-family: Roboto-Light; /* Replace 'YourCustomFont' with a name for your font */
    src: url('./font/Roboto/Roboto-Light.ttf') 
}